name: Lint and Validate

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install pre-commit and shellcheck
        run: |
          brew install pre-commit
          brew install shellcheck

      - name: Run all pre-commit checks
        continue-on-error: true
        run: pre-commit run --all-files
